@font-face {
    font-family: "Monserrat";
    src:url(../fonts/Montserrat-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
 }

 body {
    font-family: "Monserrat";
    background-color: rgb(25, 25, 25);
 }

header, footer, section{ 
    display: block;
}



h1, h2, h3 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
}


.container {
    width: 100%;
    padding:0 50px;
}

/* HEADER  */

.header {
    background-color: #708090;
    
}

.header .menu ul {
    padding: 25px 0;
    list-style: none;
}

.header .menu ul li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 30px;
    font-weight: bold ;

}

.header .menu ul li a{
    color: rgb(255, 255, 255);
}

.header .menu ul li a:hover{
    color: rgb(0, 0, 0);
}

/* PROMO */

.promo {
    margin-bottom: 0px;;
}

.promo .container {
     display: flex;
     background-color: rgb(25, 25, 25);
}

.promo .right_block img{
    height: 500px;
    padding: 10px;
}

.promo .left_block h1 {
    color: rgb(255, 255, 255);
}

.promo .left_block p {
    font-size: 20px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
}

.promo .left_block a {
    text-transform: uppercase;
    display: block;
    background-color: #59728b;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    font-weight: bolder;
    text-align: center;
}

.promo .left_block a:hover{
    text-transform: uppercase;
    display: block;
    background-color: #243545;
    color: rgb(0, 0, 0);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    font-weight: bolder;
    text-align: center;
}

.promo .left_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}

/* ABOUT */

.about {
    
    display: block;
    background-color:#708090;

}

.about h2 {
    text-align: center;
    margin-bottom: 0%;
    padding-top: 20px;
    margin-top: 0px;
    color: white;
}

.about .container ul{
    padding: 15px;
    font-size: 20px;
    margin-left: 30%;
    margin-top: 0px;
    color: white;
}

.about ul li {
    margin: 15px;
    color: white;
}

/* CARDS */

.cards {
    background-color: rgb(25, 25, 25);
}

.cards h3 {
    text-align: center;
    color: white;
    /* margin-top: 0px; */
}

.cards .container {
    display: flex;
    justify-content: space-around;
    background-color:  rgb(25, 25, 25);
}

.cards .card img {
    height: 230px;
    width: 230px; 
}

.cards .card {
    text-align: center;
    
}
.cards .card h4 {
    margin: 10px;
    font-size: large;
    color: white;
}

/* SLIDER */

.slider {
    width: 650px;
    height: 365px;
    position: relative;
    margin: 0 auto;
   }

.swiper{
    width: 650px;
    height: 365px;
  }

.swiper-slide{
    width: 650px;
    height: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swiper-button-next, 
.swiper-button-prev {
    color: #59728b;
 } 

.swiper-pagination-bullet {
    background:#59728b; 
   }
   
.swiper-pagination-bullet-active {
    background:#6f6f6f;
   }
 
h5 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}
/* VIDEO */

.video .container {
    text-align: center;
    padding-bottom: 20px;
}

.video h2 {
    color: white;
}

/* FOOTER */

.footer {
    display: block;
    background-color: #708090;
    height: 85px;
}

.footer .container p {
    font-size: large;
    padding: 22px;
    font-weight: bold;
    color: white;
}

.desktop-menu {
    display: block;
}

.mobile-menu {
    display: none;
}